{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Usage Statistic</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p>Clicks: {{ statistic|length }}</p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Used</th>
                        <th>IP</th>
                        <th>Country</th>
                        <th>Browser</th>
                        <th>OS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in statistic %}
                        <tr>
                            <td>{{ stat.link }}</td>
                            <td>{{ stat.used|date("d-m-Y H:i:s") }}</td>
                            <td>{{ stat.ip }}</td>
                            <td>{{ stat.country }}</td>
                            <td>{{ stat.browser }}</td>
                            <td>{{ stat.os }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path('monkeydevs_shortener_index') }}">Let's Shorten new URL</a>
        </div>
    </div>
{% endblock %}

